.footer {
  position: relative;
  overflow: hidden;
  .shape__small {
    right: -7rem;
    top: 15rem;
  }
  .shape__big {
    left: -8rem;
    bottom: -5rem;
  }
}
.footer_container {
  row-gap: 4rem;
}
.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: 1.25rem;
  transition: color .3s;
  img {
    width: 20px;
  }
  &:hover {
    color: $first-color-a;
  }
}
.footer__description {
  font-size: var(--small-font-size);
}
.footer__content, 
.footer__links {
  display: grid;
}
.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem;
}
.footer__title {
  font-size: var(--h3-font-size);
  font-weight: $font-semi_bold;
  margin-bottom: 1.5rem;
}
.footer__links {
  row-gap: .75rem;
}
.footer__link {
  color: $text-color;
  font-size: var(--small-font-size);
  transition: color .3s;
  &:hover {
    color: $first-color;
  }
}
.footer__social {
  display: flex;
  column-gap: 1.25rem;
}
.footer__social-link {
  color: $first-color;
  font-size: 1.25rem;
  transition: color .3s, transform .3s;
  &:hover {
    color: $first-color-a;
    transform: translateY(-.25rem);
  }
}
.footer__tree-1,
.footer__tree-2 {
  width: 140px;
  position: absolute;
}
.footer__tree-1 {
  top: 4rem;
  right: -1.5rem;
}
.footer__tree-2 {
  left: -1.5rem;
  bottom: -0.5rem;
}
.footer__copy {
  position: relative;
  display: block;
  margin-top: 8rem;
  font-size: var(--smaller-font-size);
  text-align: center;
  color: $text-color-li;
}