/*header and nav*/
.header {
  position: fixed;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  transition: background .3s, box-shadow .3s;
}
.nav {
  position: relative;
  height: $header-h;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, 
.nav__close,
.nav__toggle {
  display: inline-flex;
  color: white;
}
.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: $font-medium;
  transition: color .3s;

  img{
    width: 20px;
  }

  &:hover {
    color: $first-color;
  }
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -65%;
    left: 0;
    background-color: $body-color;
    width: 100%;
    box-shadow: 0 4px 8px hsla(22, 10%, 2%, .5);
    padding-block: 3.5rem 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top ease-in-out .75s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.nav__link {
  color: white;
  font-family: $sec-font;
  transition: color .4s;
  &:hover {
    color: $first-color;
  }
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__img {
  width: 180px;
  position: absolute;
  top: 40%;	
  left: -3rem;
}

//show menu
.show-menu {
  top: 0;
}