.items {
  position: relative;
  .shape__big {
    bottom: -8rem;
    right: -8rem;
  }
}
.items__container {
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 4rem 1.5rem;
}
.items__card {
  position: relative;
  background-color: $container-color;
  border-radius: 1.5rem;
  padding: 4rem 1.25rem 1.25rem;
  box-shadow: 0 4px 16px hsla(22, 10%, 2%, .3);
  text-align: center;
  &:hover {
    .items__img {
      transform: translateY(-.5rem);
    }
  }
}
.items__img {
  width: 100px;
  position: absolute;
  inset: 0;
  top: -2rem;
  margin: 0 auto;
  transition: transform .3s;
}
.items__name {
  font-size: var(--normal-font-size);
  font-weight: $font-medium;
  margin-bottom: 0.25rem;
}
.items__price {
  display: block;
  font-weight: $font-semi_bold;
  color: $first-color;
  margin-bottom: 0.5rem;
}
.items__button {
  display: inline-flex;
  background-color: $first-color;
  color: white;
  padding: .25rem 1.5rem;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  transition: background .3s;
  outline: none;
  i{
    font-size: 1.25rem;
  }
  &:hover {
    background-color: $first-color-a;
  }
}