$header-h: 3.5rem;
//colors
$first-color: hsl(22, 72%, 50%);
$first-color-a: hsl(22, 72%, 46%);
$text-color: hsl(22, 4%, 75%);
$text-color-li: hsl(22, 4%, 55%);
$body-color: hsl(22, 8%, 6%);
$container-color: hsl(22, 8%, 7%);
//fonts and typography
$body-font: 'Poppins', sans-serif;
$sec-font: 'Butcherman', cursive;
